/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin and align text to center*/
* {
  margin: 0 auto;
  text-align: center;
}

/* Set core root defaults */
html {
  font-size: 10px;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "League Spartan", sans-serif;
  /* background: hsl(300, 24%, 96%); */
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove smooth scroll for people that prefer not to see it */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
  }
}

header,
main {
  width: 87.2%;
}

h1,
.ratings {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.ratings,
.testimonials {
  font-size: 1.8rem;
}
h1 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

p {
  color: hsl(300, 43%, 22%);
  font-weight: 400;
}

.ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 26.6rem;
}

.rating {
  flex: 0 1 7.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: hsl(300, 24%, 96%);
  width: 100%;
  border-radius: 10px;
}

.rating .stars {
  width: 85px;
  height: 16px;
  background: url(images/icon-star.svg);
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 82.4rem;
  margin-top: 3.2rem;
}
.testimonial {
  flex: 0 1 24.8rem;
  width: 100%;
  background: hsl(300, 43%, 22%);
  padding: 4.2rem 3.2rem 1.6rem;
  border-radius: 10px;
  color: white;
}

.person {
  float: left;
  display: flex;
  align-items: center;
  height: 4.2rem;
  margin-bottom: 3.2rem;
}

.person img {
  border-radius: 50%;
  height: 100%;
  margin-right: 1.6rem;
}

.person h2,
.person span {
  font-size: 1em;
}

.person span {
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

.testimonial blockquote {
  clear: left;
}
